body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#board {
    background-color: black;
    border: 1px solid black;
    /* Set appropriate width and height for your game */
    width: 400px;
    height: 400px;
}